/* Global Styles */
body {
    padding:0 2em 0 2em;
    margin:0;
}
a {
    text-decoration: none;
    color:black;
}
.colOne {
    width:100%;
    float:left;
}
.colTwo {
    width:50%;
    float:left;
}
.h2{
    font-size:20px;
}

/* Specific Styles */
.productName {
    margin:5px 0 3px 0;
}

.wrapper {
    display: inline-flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    width:100%;
}

.wrapper > * {
    flex: 1 100%;
}

.tagLine {
    /* font-family: garamond-premier-pro-caption;*/
    font-size:24px;
    margin:10px 0;
}

.categories {
    margin-left:39%;
    margin-top:10px;
    margin-bottom:40px;
    margin-left:330px;
}

.firstRow{
    display:flex;    
    flex-wrap:wrap;
    width:80%;
    min-width: 820px;
    height:620px;
    /*margin:0 40px 30px 40px;*/
    margin:auto;
    margin-bottom:30px;
    border:1px solid black;
    overflow:scroll;
}
.newProduct {
    text-align:left;
    margin-top:10px;
}
.newProduct input {
    margin: 2px 2px 5px 2px;
}
.newProduct input[name="url"] {
    width:500px;
}
.productPage {
    width:850px;
}
.productPage .productHeader {
    float:left;
    text-align:left;
}
.productPage .productData {
    float:left;
    font-weight:500;
    text-align:left;
    margin-left:4px;
}
.productPage .img {
    max-width: 200px;
}

.addProduct {
    width:100%;
    text-align:left;
}
.sortHeader {
    float:none;
    width:920px;
    text-align:right;
    margin-bottom:10px;
}
.sortHeader span {
    margin-left:10px;
    cursor:pointer;
}
.sortHeader form {
    width:205px;
    float:right;
    margin-right:-32px;
}
.sortHeader select {
    width:145px;
}
.sortHeader label{
    float:left;
    margin:5px 5px 0 0;
}
.aside {
    width:40%;
    display: flex;
    flex-direction: column;
    padding:0 10px 0 10px;
}

.aside-1 {
    order:-1;
}

.nav ul {
    display:flex;
    list-style: none;
    width:80%;
    margin:auto;
    padding:20px;
}
.nav ul li {
    margin-left:50px;
}

.nav ul li a {
    text-decoration:none;
    color:black;
}

.categoryHeader{
    float:left;
    cursor:pointer;
    width:10%;
    margin-left:6%;
}
.categoryProduct{
    float:none;
    margin-top:25px;
    /*border: 1px solid black;*/
}

.categoryProduct .product:first-child {
    margin-left:1%;
}

.product{
    /*display:flex;
     flex:1; */
    padding:2% 2% 1% 2%;
    margin-top:2%;
    margin-left:4%;
    margin-bottom:2%;
    max-height:220px;
    width:28%;
    overflow:hidden;
}
.product a, .product a:hover {
    color:black;
}
.productPage .product {
    width:17%;
}
.categoryProduct .product{
    float:left;
    padding:1%;
    margin-left:5%;
}
.categoryProduct  h3{
    text-align:left;
    margin-bottom:0px;
}

.product .img {
    width:160px;
    margin:auto;
}

.product:hover {
    border:1px solid black;
}

.press {
    margin-top:20px;
    margin-bottom:20px;
    border:1px solid black;
}

.footer {
    margin-top:10px;
    margin-bottom:10px;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    /*
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
    */
}